-
  var articlesList = [
  {
  img: '',
  title: 'УСТРА&shy;НЕНА ПО&shy;ТЕ&shy;РЯ ПРИ&shy;БЫ&shy;ЛИ В 43 МЛН РУБ.',
  description: 'Найдена прибыль на&nbsp;сумму около 43&nbsp;000&nbsp;000&nbsp;руб.&nbsp;и&nbsp;устранен риск потери заказов от&nbsp;крупнейшего партнера&nbsp;&mdash; компании Самсунг, по&nbsp;результатам проведенного финансового анализа и&nbsp;обязательного комплексного аудита.'
  },
  {
  img: '',
  title: 'ДВА ЗАЙ&shy;ЦА ОД&shy;НИМ ВЫС&shy;ТРЕ&shy;ЛОМ!',
  description: 'На&nbsp;20% снижена стоимость сделки по&nbsp;покупке бизнеса, а&nbsp;также выигран арбитраж на&nbsp;24&nbsp;млн. руб. благодаря инициативному аудиту (Due Diligence).'
  },
  {
  img: '',
  title: 'БОЛЕЕ 2000% — ЭФФЕК&shy;ТИВ&shy;НОСТЬ НА&shy;ЛО&shy;ГО&shy;ВО&shy;ГО АУ&shy;ДИТА',
  description: 'По&nbsp;итогам налогового аудита выявлено резервов более чем на&nbsp;37&nbsp;млн. руб., а&nbsp;также обнаружено и&nbsp;устранено налоговых рисков на&nbsp;сумму 4,5&nbsp;млн. руб.'
  },
  {
  img: '',
  title: 'ДОКА&shy;ЗА&shy;ЛИ «НАЛО&shy;ГО&shy;ВОЙ», ЧТО ДИ&shy;РЕК&shy;ТОР НЕ ВЕР&shy;БЛЮД',
  description: 'Как было найдено основание для снятия личной ответственности с&nbsp;генерального директора из-за претензии налоговой службы в&nbsp;разности уровня закупочных цен на&nbsp;сумму 1,4&nbsp;млрд. руб.'
  },
  {
  img: '',
  title: 'ТРОЕ&shy;КРАТ&shy;НЫЙ РОСТ БИЗ&shy;НЕСА',
  description: 'Увеличение годового оборота компании в&nbsp;3&nbsp;раза: с&nbsp;1,1&nbsp;млрд. руб.&nbsp;до&nbsp;3,5&nbsp;млрд. руб. стало возможным после постановки учета и&nbsp;трансформации отчетности в&nbsp;формате МСФО.'
  },
  {
  img: '',
  title: 'АУДИТ ОКУ&shy;ПИЛ&shy;СЯ УЖЕ В ПЕР&shy;ВЫЙ ДЕНЬ',
  description: 'Ликвидированы риски на&nbsp;12,5&nbsp;млн. руб.&nbsp;и&nbsp;открыты резервы на&nbsp;сумму более 1,1&nbsp;млн. руб., благодаря налоговому аудиту, автоматизации и&nbsp;построению бухгалтерской службы.'
  }
  ];

mixin articles-list(list)
  .-articles-list&attributes(attributes)
    .__row.row
      each item, index in list
        .__col.col-xs-12.col-sm-6.col-md-4
          article.-article-item
            +a(`popups/histories/history-${0 + 1}.html`).__img-wrap(data-fancybox='history?1' data-type='ajax' data-fancybox--group)
              img.__img(src=`${paths.imgContent}/histories-list/380x200/history_${index + 1}.jpg`
              srcset=`${paths.imgContent}/histories-list/380x200/history_${index + 1}.jpg 1x, ${paths.imgContent}/histories-list/760x400/history_${index + 1}.jpg 1.25x`
              alt='' data-object-fit='cover' onload='objectFit(this)')
            h3.__title
              +a(`popups/histories/history-${0 + 1}.html`).__title-link(data-fancybox='history?2' data-type='ajax' data-fancybox--group) !{item.title}
            .__description
              p !{item.description}
            footer.__footer
              +a(`popups/histories/history-${0 + 1}.html`).__btn.btn.btn_1(data-fancybox='history?3' data-type='ajax' data-fancybox--group) Подробнее
      // Spacers
      .__col.col-xs-12.col-sm-6.col-md-4
      .__col.col-xs-12.col-sm-6.col-md-4
      .__col.col-xs-12.col-sm-6.col-md-4