include ../../../helpers/variables
include ../../../helpers/mixins
include ../../../blocks/articles-list/articles-list

.-history-view.popup.popup_history.container-fluid
  header.__header
    .__header-text
      h1.__header-title
        block header-title
          | !{articlesList[0].title}
      block header-text
        p.
          Найдена прибыль на сумму около 43 000 000 руб. и устранен риск потери заказов от крупнейшего партнера —
          компании Самсунг, по результатам проведенного финансового анализа и обязательного комплексного аудита.
    .__header-img-wrap
      img.__header-img(src=`${paths.imgContent}/histories-list/380x200/history_1.jpg`
      srcset=`${paths.imgContent}/histories-list/380x200/history_1.jpg 1x, ${paths.imgContent}/histories-list/760x400/history_1.jpg 1.25x`
      alt='')
  h2.__title Исходное состояние:
  p.
    В канун нового 2016 года в компанию «Финансовый и налоговый аудит» WiseAdvice Consulting Group обратился завод
    по производству пластиковых изделий с целью срочного проведения обязательного аудита и финансового анализа за последние 2 года.
  p.
    В ходе общения мы выяснили, что обязательный аудит и финансовый анализ нужен компании для получения заказов
    на следующий год от их основного покупателя — компании Самсунг.
  p.
    Это необходимо, поскольку Самсунг предъявляет к своим поставщикам серьезные требования не только по
    качеству продукции, но и по финансовой устойчивости.
  .-blockquote
    .__col._1
      img.__img(src=`${paths.imgContent}/ingush.jpg` alt='')
    blockquote.__col._2
      p.
        Из общения с генеральным директором мы сразу поняли, что объемы заказов у завода на 2016 год находятся
        под угрозой, поскольку организация выполняет не все критерии в части финансовой устойчивости, при этом по
        качеству продукции находится у компании Самсунг на хорошем счету.
      p.__author
        strong Игуш Наталья
        br
        | Ген. директор компании «Финансовый и Налоговый Аудит», ГК WiseAdvice
  p.
    Ухудшение в финансовых показателях компании было удивительным для генерального директора, поскольку он только недавно расширил производственные линии и вышел на принципиально новые объемы производства и реализации. А также планировал вскоре завершить платежи по займам.
  p.
    Данная производственная компания находится в московской области в одном из крупнейших индустриальных парков. Объемы реализации составляют более 250 000 000 руб. в год.
  .__result
    p.__result-title ПОЛУЧИТЕ КОНСУЛЬТАЦИЮ АУДИТОРА
    p.
      Задайте вопрос по Вашей ситуации и получите консультацию аудитора.
    +a('tel:+74952312321').__tel.glyphicon.glyphicon-phone 8 495 231-23-21

  h2.__title Решение:
  p.
    Для решения поставленных задач мы еще до начала обязательного аудита и выдачи аудиторского заключения провели финансовый анализ деятельности клиента.
  p.
    Результаты показали, что компания находится в неудовлетворительном финансовом состоянии, которое могло бы перерасти в негативное.
  p.
    Наиболее слабые показатели наблюдались в части финансовых результатов, недостаточности собственного капитала и собственных оборотных средств.
  p.
    Более глубокий анализ показал, что компания несет существенные расходы в виде процентов по кредитам и займам. А также в компании явно произошло существенное увеличение основных средств. Именно эти расходы и стали ключом к решению.
  p.
    В ходе анализа мы предположили, что расходы в виде процентов не являются расходами текущего периода и должны быть капитализированы.
  p.
    В кратчайшие сроки мы запланировали выездной этап обязательного аудита с целью проверки бухгалтерского и налогового учета, чтобы подтвердить или опровергнуть наши предположения.
  p.
    В ходе обязательной аудиторской комплексной проверки большее внимание было уделено:
  ul.-list._ul_1
    li аудиторской проверке операций с основными средствами;
    li аудиту учета кредитов и займов;
    li аудиту финансовых результатов;
    li аудиту бухгалтерской и налоговой отчетности.
  p.
    Анализ полученных документов подтвердил наши предположения.
  p.
    Главный бухгалтер, с целью сближения налогового и бухгалтерского учета, отражал проценты по займам на приобретение основных средств и оборудования в текущем периоде.
  p.
    Это в значительной степени снижало показатели финансового состояния в текущем периоде и стоимости имеющихся основных средств.
  p.
    Нами были даны рекомендации по переносу данных процентов в стоимость основных средств, сделан расчет альтернативного баланса, подготовлено аудиторское заключение и письмо для компании Самсунг об обнаруженных искажениях, их причинах и влиянии на отчетность на русском и английском языках.
  p.
    В совокупности указанные исправления существенно улучшили финансовое состояние компании, многократно повысив рейтинг её финансовой устойчивости, что позволило восстановить доверие покупателя и продолжить получение новых заказов от компании Самсунг.
  p.
    Это один из примеров, когда мнение одного специалиста могло поставить под риск само существование и развитие бизнеса в связи с недостаточным независимым финансовым контролем, невозможностью заведомо выявить и устранить риски, а главное, их последствия.
  .__result
    p.__result-title ЭФФЕКТИВНОСТЬ АУДИТА
    p.
      При стоимости аудита в 203 тыс. руб. коэффициент эффективности составил 21 148%.
    +a().__btn.btn.btn_1 Рассчитать стоимость
  .__bg
    h2.__title Заказчик оказался весьма доволен такими выдающимися результатами!
    ul.-list._ul_1
      li Величина нераспределенной прибыли за последние 2 года была увеличена на сумму около 43 000 000 руб.
      li Приблизительно на эту же сумму были увеличена стоимость основных средств.
      li Финансовые результаты за последние 2 года были увеличены на 43 млн. руб.
      li Восстановлено доверие основного партнера — компании Самсунг.
      li Устранено препятствие к получению существенного объема заказов.
  .__result.margin-none-bottom
    p.__result-title Узнайте стоимость
    p.
      И получите выдающиеся результаты по итогам аудита
    +a().__btn.btn.btn_1 Рассчитать стоимость
